@model Jupyscope.Contracts.Notebook
@using Microsoft.AspNetCore.Html
@using Jupyscope.Contracts.Cells 
@using Jupyscope.Extensions.CellExtensions;


<div>
    <table>
        <tbody>
            @foreach (var cell in Model.Cells)
            {
                <tr>
                    <td>@if (cell is CodeCell codeCell) { <p>[@codeCell.ExecutionCount]</p> }</td>
                    <td>@(new HtmlString(cell.ToHtml()))</td>
                    @if (cell is CodeCell codeCell2) 
                    {
                        @foreach (var outputCell in codeCell2.Outputs)
                        {
                            <td> @(new HtmlString(outputCell.ToHtml()))</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
